openapi: 3.0.0
info:
  description: 'For more information, see: <a href="https://developer.adobe.com/frameio">https://developer.adobe.com/frameio</a>'
  license:
    name: Adobe
    url: https://www.adobe.com/legal/terms.html
  title: Frame.io Account Permissions Version Stacks API
  version: v4.0
servers:
- url: https://api.frame.io
  variables: {}
security:
- OAuth2: []
- bearer: []
tags:
- description: Manage Version Stacks and related operations.
  name: Version Stacks
paths:
  /v4/accounts/{account_id}/version_stacks/{version_stack_id}/move:
    patch:
      callbacks: {}
      description: 'Move version stack to a folder. <br/>Rate Limits: 10 calls per 1.00 minute(s) per account_user'
      operationId: version_stacks.move
      parameters:
      - description: ''
        example: d2d151e9-4bc6-46ae-9332-e600ebcc2ba4
        in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/FrameOrAdobeId'
      - description: ''
        example: cdaa0588-6ee1-4324-b11b-3ab1b7ddb4e1
        in: path
        name: version_stack_id
        required: true
        schema:
          $ref: '#/components/schemas/FrameOrAdobeId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VersionStackMoveParams'
        description: Request body
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionStackResponse'
          description: OK
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad request
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not found
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableContent'
          description: Unprocessable content
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too many requests
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
      summary: Move version stack
      tags:
      - Version Stacks
  /v4/accounts/{account_id}/folders/{folder_id}/version_stacks:
    get:
      callbacks: {}
      description: 'List version stacks in a given folder.  <br/>Rate Limits: 5 calls per 1 second(s) per account_user'
      operationId: version_stacks.list
      parameters:
      - description: ''
        example: 65941a80-6ea0-48ef-9412-b05a062f75ff
        in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/FrameOrAdobeId'
      - description: ''
        example: 7f961218-3179-491d-80de-2e8d9e3f60c1
        in: path
        name: folder_id
        required: true
        schema:
          $ref: '#/components/schemas/FrameOrAdobeId'
      - description: ''
        in: query
        name: include
        required: false
        schema:
          description: Supported include query parameter values for endpoints that return files with media links
          enum:
          - media_links.original
          - media_links.thumbnail
          - media_links.thumbnail_high_quality
          - media_links.video_h264_180
          - media_links.high_quality
          - media_links.efficient
          - media_links.scrub_sheet
          - creator
          - project
          - metadata
          example: project,creator,metadata,media_links.original,media_links.thumbnail,media_links.high_quality
          title: FileWithMediaLinksInclude
          type: string
      - description: 'Opaque Cursor query param for requests returning paginated results.

          <br/>

          NOTE: this value is auto-generated and included as part of links from a previous response. It is not intended to be human readable.

          '
        in: query
        name: after
        required: false
        schema:
          $ref: '#/components/schemas/RequestAfterOpaqueCursor'
      - description: ''
        in: query
        name: page_size
        required: false
        schema:
          $ref: '#/components/schemas/AssetRequestPageSize'
      - description: ''
        in: query
        name: include_total_count
        required: false
        schema:
          $ref: '#/components/schemas/IncludeTotalCount'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionStacksWithIncludesResponse'
          description: OK
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad request
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not found
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableContent'
          description: Unprocessable content
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too many requests
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
      summary: List version stacks
      tags:
      - Version Stacks
    post:
      callbacks: {}
      description: 'Create a new Version Stack under the parent folder. <br/>Rate Limits: 10 calls per 1.00 minute(s) per account_user'
      operationId: version_stacks.create
      parameters:
      - description: ''
        example: 591175e3-ff91-412d-ada3-613d2f5b18ff
        in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/FrameOrAdobeId'
      - description: ''
        example: 1c2e59de-2cc5-44f5-b1db-040c4851b525
        in: path
        name: folder_id
        required: true
        schema:
          $ref: '#/components/schemas/FrameOrAdobeId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VersionStackCreateParams'
        description: Request body
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionStackWithIncludesResponse'
          description: Created
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad request
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not found
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
          description: Unprocessable Content
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too many requests
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
      summary: Create version stack
      tags:
      - Version Stacks
  /v4/accounts/{account_id}/version_stacks/{version_stack_id}:
    get:
      callbacks: {}
      description: 'Show version stack details. <br/>Rate Limits: 100 calls per 1.00 minute(s) per account_user'
      operationId: version_stacks.show
      parameters:
      - description: ''
        example: 568de325-71f5-4e35-bcee-cf113306f0c2
        in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/FrameOrAdobeId'
      - description: ''
        example: 33e25797-4a5d-4b32-86be-6bbc7a955521
        in: path
        name: version_stack_id
        required: true
        schema:
          $ref: '#/components/schemas/FrameOrAdobeId'
      - description: ''
        examples:
          creator_project:
            summary: include parameter for creator and project
            value: creator,project,project.owner
          media_links:
            summary: include parameter for media links
            value: media_links.original,media_links.thumbnail,media_links.high_quality
          metadata:
            summary: include parameter for metadata
            value: metadata
        in: query
        name: include
        required: false
        schema:
          description: Supported include query parameter values for endpoints that return files with media links
          enum:
          - media_links.original
          - media_links.thumbnail
          - media_links.thumbnail_high_quality
          - media_links.video_h264_180
          - media_links.high_quality
          - media_links.efficient
          - media_links.scrub_sheet
          - creator
          - project
          - metadata
          example: project,creator,metadata,media_links.original,media_links.thumbnail,media_links.high_quality
          title: FileWithMediaLinksInclude
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionStackWithIncludesResponse'
          description: OK
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad request
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not found
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableContent'
          description: Unprocessable content
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too many requests
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
      summary: Show version stack
      tags:
      - Version Stacks
  /v4/accounts/{account_id}/version_stacks/{version_stack_id}/children:
    get:
      callbacks: {}
      description: 'List the children (files) in a given version stack.

        <br/>

        Use the `include` query parameter to selectively include additional properties in the response.

        <br/>

        Note: if you include `media_links.original` and the user does not have permission to download files

        in the corresponding project, then this endpoint will respond with a `403 Forbidden` error.

        If the content is inaccessible because watermarking is required for this user and isn''t supported by

        the requested media_links, then the request will succeed but the unsupported media links will be set to null.

        Similarly, if a requested transcode link does not exist for a particular file (e.g. including

        `media_links.video_h264_180` on a static image file) or transoding process hasn''t finished

        (i.e. the file''s `status` is "uploaded" rather than "transcoded"), then the a media link will also be set to

        null in the response payload. In short, the client must handle null media links gracefully.

        <br/>Rate Limits: 100 calls per 1.00 minute(s) per account_user

        '
      operationId: version_stacks.index
      parameters:
      - description: ''
        example: 8cd4f1e3-2ee9-4802-998c-c2178af9cc25
        in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/FrameOrAdobeId'
      - description: ''
        example: 50e2fcf5-f22a-41e0-a59d-d592a9156120
        in: path
        name: version_stack_id
        required: true
        schema:
          $ref: '#/components/schemas/FrameOrAdobeId'
      - description: ''
        examples:
          creator_project:
            summary: include parameter for creator and project
            value: creator,project,project.owner
          media_links:
            summary: include parameter for media links
            value: media_links.original,media_links.thumbnail,media_links.high_quality
          metadata:
            summary: include parameter for metadata
            value: metadata
        in: query
        name: include
        required: false
        schema:
          description: Supported include query parameter values for endpoints that return files with media links
          enum:
          - media_links.original
          - media_links.thumbnail
          - media_links.thumbnail_high_quality
          - media_links.video_h264_180
          - media_links.high_quality
          - media_links.efficient
          - media_links.scrub_sheet
          - creator
          - project
          - metadata
          example: project,creator,metadata,media_links.original,media_links.thumbnail,media_links.high_quality
          title: FileWithMediaLinksInclude
          type: string
      - description: 'Opaque Cursor query param for requests returning paginated results.

          <br/>

          NOTE: this value is auto-generated and included as part of links from a previous response. It is not intended to be human readable.

          '
        in: query
        name: after
        required: false
        schema:
          $ref: '#/components/schemas/RequestAfterOpaqueCursor'
      - description: ''
        in: query
        name: page_size
        required: false
        schema:
          $ref: '#/components/schemas/RequestPageSize'
      - description: ''
        in: query
        name: include_total_count
        required: false
        schema:
          $ref: '#/components/schemas/IncludeTotalCount'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionStackAssetsWithIncludesResponse'
          description: OK
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad request
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not found
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableContent'
          description: Unprocessable content
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too many requests
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
      summary: List version stack children
      tags:
      - Version Stacks
  /v4/accounts/{account_id}/version_stacks/{version_stack_id}/copy:
    post:
      callbacks: {}
      description: 'Copy version stack. <br/>Rate Limits: 10 calls per 1.00 minute(s) per account_user<br><br>


        Currently, copying version stacks between Adobe storage backed projects is not supported. Copying individual

        files within a version stack and then restacking them is currently the supported method for copying version

        stacks for these projects.

        '
      operationId: version_stacks.copy
      parameters:
      - description: ''
        example: 24e194ad-2420-40e8-97ad-fcfce805a1a2
        in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/FrameOrAdobeId'
      - description: ''
        example: 50c296ea-f9de-4435-b5be-ab03022624bd
        in: path
        name: version_stack_id
        required: true
        schema:
          $ref: '#/components/schemas/FrameOrAdobeId'
      - description: Whether to copy metadata values along with the version stack
        in: query
        name: copy_metadata
        required: false
        schema:
          default: false
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VersionStackCopyParams'
        description: Version stack params
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionStackCopyResponse'
          description: OK
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad request
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not found
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableContent'
          description: Unprocessable content
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too many requests
          headers:
            x-ratelimit-limit:
              description: Rate limit
              example: 100
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-remaining:
              description: Rate limit remaining
              example: 99
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
            x-ratelimit-window:
              description: Rate limit window in milliseconds
              example: 60000
              required: true
              schema:
                format: int32
                minimum: 0
                type: integer
              style: simple
      summary: Copy version stack
      tags:
      - Version Stacks
components:
  schemas:
    VersionStackAssetsWithIncludesResponse:
      example:
        data:
        - adobe_id: urn:aaid:sc:US:a1b2c3d4-e5f6-7890-abcd-ef1234567890
          adobe_version_id: '2'
          created_at: '2023-09-25T19:18:29.614189Z'
          creator:
            active: true
            avatar_url: https://assets.frame.io/uploads/cd58cb8e-24b3-4448-8d0f-9532fcd04d11/original.png?response-content-disposition=attachment%3B+filename%3D%22foo.png&Expires=1729857600&Signature=L09h0pi82dCrMYjr9lMHBragByWYh1&Key-Pair-Id=KKI497NESTHMN
            email: user_email@example.com
            id: 196C1A5666BF4EB00A49411B@176719f5667c82b4494214.e
            name: Jon Doe
          file_size: 1137444
          id: 477b4abc-b34e-41dc-81b3-61ef3e6f4a0e
          media_links:
            high_quality:
              download_url: https://assets.frame.io/uploads/cd58cb8e-24b3-4448-8d0f-9532fcd04d11/original.png?response-content-disposition=attachment%3B+filename%3D%22foo.png&Expires=1729857600&Signature=L09h0pi82dCrMYjr9lMHBragByWYh1&Key-Pair-Id=KKI497NESTHMN
            original:
              download_url: https://assets.frame.io/uploads/cd58cb8e-24b3-4448-8d0f-9532fcd04d11/original.png?response-content-disposition=attachment%3B+filename%3D%22foo.png&Expires=1729857600&Signature=L09h0pi82dCrMYjr9lMHBragByWYh1&Key-Pair-Id=KKI497NESTHMN
              inline_url: https://assets.frame.io/uploads/cd58cb8e-24b3-4448-8d0f-9532fcd04d11/original.png?response-content-disposition=inline%3B+filename%3D%22foo.png&Expires=1729857600&Signature=L09h0pi82dCrMYjr9lMHBragSDFXDFh&1Key-Pair-Id=KKI497NESTHMN
            thumbnail:
              download_url: https://assets.frame.io/uploads/cd58cb8e-24b3-4448-8d0f-9532fcd04d11/original.png?response-content-disposition=attachment%3B+filename%3D%22foo.png&Expires=1729857600&Signature=L09h0pi82dCrMYjr9lMHBragByWYh1&Key-Pair-Id=KKI497NESTHMN
              url: https://picture2.frame.io/image/s3://frameio-assets-development/image/cd58cb8e-24b3-4498-8d0f-9532fcd04d11/image_full.png?alg=HS256&sig=0_u7w_wz2MwQHOXp000ibbQSMRijujyaUu8V3YYPxu4&exp=1729857600
          media_type: image/png
          metadata:
          - field_definition_id: 520662f7-6b13-4bad-bd72-0b6be0088e71
            field_definition_name: Fields definition name
            field_options:
            - display_name: Display name
              id: db37fc0c-56d2-42f5-97ce-7926ffe224ef
            - display_name: Display name 2
              id: e5530483-30c0-4589-8313-6d3634c15e43
            field_type: select
            mutable: true
            value:
            - display_name: Display name
              id: db37fc0c-56d2-42f5-97ce-7926ffe224ef
          name: asset.png
          parent_id: c9c99632-6f5f-4e60-a323-c93e4c2a0f4f
          project:
            adobe_id: urn:aaid:sc:US:9f4e4d7a-4b6b-4c4f-9f00-b31a91cfc6f3
            created_at: '2024-01-25T19:18:29.614189Z'
            description: Project Description
            id: 18d9023a-6b06-4417-b3f4-bf87865c183f
            name: My Project
            owner:
              active: true
              avatar_url: https://assets.frame.io/uploads/cd58cb8e-24b3-4448-8d0f-9532fcd04d11/original.png?response-content-disposition=attachment%3B+filename%3D%22foo.png&Expires=1729857600&Signature=L09h0pi82dCrMYjr9lMHBragByWYh1&Key-Pair-Id=KKI497NESTHMN
              email: user_email@example.com
              id: 196C1A5666BF4EB00A49411B@176719f5667c82b4494214.e
              name: Jon Doe
            restricted: false
            root_folder_id: 69110a93-de02-4e87-be46-28fa89c577a1
            status: active
            storage: 15000
            updated_at: '2024-02-07T16:44:41.986478Z'
            view_url: https://next.frame.io/project/d5e6011c-2bc9-4596-be05-77d562627112/
            workspace_id: a4759365-dc55-4c1d-8369-ea8244b76ae6
          project_id: 3ffaf0ca-e6d8-4f1e-ac9d-3c064d371085
          status: created
          type: file
          updated_at: '2024-02-07T16:44:41.986478Z'
          view_url: https://next.frame.io/project/d5e6011c-2bc9-4596-be05-77d562627112/view/5a89a9fb-0900-4b23-826b-127b90e4db4c
        links:
          next: /v4/accounts/123/folders/123/version_stacks
        total_count: 10
      properties:
        data:
          description: Assets
          items:
            $ref: '#/components/schemas/AssetWithIncludes'
          type: array
        links:
          $ref: '#/components/schemas/Links'
        total_count:
          description: Total count
          nullable: true
          type: integer
      required:
      - data
      - links
      title: VersionStackAssetsWithIncludesResponse
      type: object
    UnprocessableContent:
      example:
        errors:
        - detail: Unprocessable content
      properties:
        errors:
          items:
            additionalProperties: false
            properties:
              detail:
                type: string
              source:
                properties:
                  pointer:
                    type: string
                type: object
              title:
                type: string
            required:
            - detail
            type: object
          type: array
      required:
      - errors
      title: UnprocessableContent
      type: object
    IntegerValue:
      allOf:
      - $ref: '#/components/schemas/FieldValueCommon'
      - properties:
          value:
            nullable: true
            type: integer
        type: object
      example:
        field_definition_id: 520662f7-6b13-4bad-bd72-0b6be0088e71
        field_definition_name: Fields definition name
        field_type: rating
        mutable: true
        value: 4
      required:
      - value
      title: IntegerValue
      type: object
    VersionStack:
      allOf:
      - properties:
          head_version:
            $ref: '#/components/schemas/File'
          id:
            description: Version Stack ID
            format: uuid
            type: string
          name:
            description: Version Stack Name
            type: string
          parent_id:
            description: Parent Folder ID
            format: uuid
            nullable: true
            type: string
        required:
        - id
        - name
        - parent_id
        - head_version
        type: object
      - $ref: '#/components/schemas/AssetCommon'
      example:
        adobe_id: urn:aaid:sc:US:a1b2c3d4-e5f6-7890-abcd-ef1234567890
        created_at: '2023-09-25T19:18:29.614189Z'
        head_version:
          adobe_id: urn:aaid:sc:US:a1b2c3d4-e5f6-7890-abcd-ef1234567890
          adobe_version_id: '2'
          created_at: '2023-09-25T19:18:29.614189Z'
          file_size: 1137444
          id: 477b4abc-b34e-41dc-81b3-61ef3e6f4a0e
          media_type: image/png
          name: asset.png
          parent_id: c9c99632-6f5f-4e60-a323-c93e4c2a0f4f
          project_id: 3ffaf0ca-e6d8-4f1e-ac9d-3c064d371085
          status: created
          type: file
          updated_at: '2024-02-07T16:44:41.986478Z'
          view_url: https://next.frame.io/project/d5e6011c-2bc9-4596-be05-77d562627112/view/5a89a9fb-0900-4b23-826b-127b90e4db4c
        id: 477b4abc-b34e-41dc-81b3-61ef3e6f4a0e
        name: asset.png
        parent_id: c9c99632-6f5f-4e60-a323-c93e4c2a0f4f
        project_id: 3ffaf0ca-e6d8-4f1e-ac9d-3c064d371085
        type: version_stack
        updated_at: '2024-02-07T16:44:41.986478Z'
        view_url: https://next.frame.io/project/d5e6011c-2bc9-4596-be05-77d562627112/view/5a89a9fb-0900-4b23-826b-127b90e4db4c
      title: VersionStack
      type: object
    AssetCommon:
      example:
        adobe_id: urn:aaid:sc:US:a1b2c3d4-e5f6-7890-abcd-ef1234567890
        created_at: '2023-09-25T19:18:29.614189Z'
        id: 477b4abc-b34e-41dc-81b3-61ef3e6f4a0e
        name: asset.png
        parent_id: c9c99632-6f5f-4e60-a323-c93e4c2a0f4f
        project_id: 3ffaf0ca-e6d8-4f1e-ac9d-3c064d371085
        type: file
        updated_at: '2024-02-07T16:44:41.986478Z'
        view_url: https://next.frame.io/project/d5e6011c-2bc9-4596-be05-77d562627112/view/5a89a9fb-0900-4b23-826b-127b90e4db4c
      properties:
        adobe_id:
          description: Adobe cloud storage asset identifier, when available.
          nullable: true
          type: string
        created_at:
          description: Creation timestamp
          format: date-time
          type: string
        id:
          description: File, Folder, or Version Stack ID
          format: uuid
          type: string
        name:
          description: File or folder Name
          type: string
        parent_id:
          description: Parent Folder or Version Stack ID
          format: uuid
          nullable: true
          type: string
        project_id:
          description: Project ID
          format: uuid
          type: string
        type:
          enum:
          - file
          - folder
          - version_stack
          type: string
        updated_at:
          description: Update timestamp
          format: date-time
          type: string
        view_url:
          description: URL to view the asset in the Frame.io web application
          type: string
      required:
      - id
      - name
      - type
      - project_id
      - parent_id
      - created_at
      - updated_at
      - view_url
      title: AssetCommon
      type: object
    Unauthorized:
      example:
        errors:
        - detail: Unauthorized
      properties:
        errors:
          items:
            additionalProperties: false
            properties:
              detail:
                type: string
              source:
                properties:
                  pointer:
                    type: string
                type: object
              title:
                type: string
            required:
            - detail
            type: object
          type: array
      required:
      - errors
      title: Unauthorized
      type: object
    SelectOption:
      example:
        display_name: Display name
        id: db37fc0c-56d2-42f5-97ce-7926ffe224ef
      properties:
        display_name:
          description: Option display name
          type: string
        id:
          description: Option ID
          format: uuid
          type: string
      required:
      - id
      - display_name
      title: SelectOption
      type: object
    NotFound:
      example:
        errors:
        - detail: Not found
      properties:
        errors:
          items:
            additionalProperties: false
            properties:
              detail:
                type: string
              source:
                properties:
                  pointer:
                    type: string
                type: object
              title:
                type: string
            required:
            - detail
            type: object
          type: array
      required:
      - errors
      title: NotFound
      type: object
    RequestPageSize:
      default: 50
      description: Page size query param for requests
      example: 10
      format: int32
      maximum: 100
      minimum: 1
      title: RequestPageSize
      type: integer
    DateValue:
      allOf:
      - $ref: '#/components/schemas/FieldValueCommon'
      - properties:
          value:
            format: datetime
            nullable: true
            type: string
        type: object
      example:
        field_definition_id: 520662f7-6b13-4bad-bd72-0b6be0088e71
        field_definition_name: Fields definition name
        field_type: date
        mutable: true
        value: '2026-07-17 21:34:21.954509Z'
      required:
      - value
      title: DateValue
      type: object
    BadRequest:
      example:
        errors:
        - detail: Bad request
      properties:
        errors:
          items:
            additionalProperties: false
            properties:
              detail:
                type: string
              source:
                properties:
                  pointer:
                    type: string
                type: object
              title:
                type: string
            required:
            - detail
            type: object
          type: array
      required:
      - errors
      title: BadRequest
      type: object
    VersionStackResponse:
      example:
        data:
          adobe_id: urn:aaid:sc:US:a1b2c3d4-e5f6-7890-abcd-ef1234567890
          created_at: '2023-09-25T19:18:29.614189Z'
          head_version:
            adobe_id: urn:aaid:sc:US:a1b2c3d4-e5f6-7890-abcd-ef1234567890
            adobe_version_id: '2'
            created_at: '2023-09-25T19:18:29.614189Z'
            file_size: 1137444
            id: 477b4abc-b34e-41dc-81b3-61ef3e6f4a0e
            media_type: image/png
            name: asset.png
            parent_id: c9c99632-6f5f-4e60-a323-c93e4c2a0f4f
            project_id: 3ffaf0ca-e6d8-4f1e-ac9d-3c064d371085
            status: created
            type: file
            updated_at: '2024-02-07T16:44:41.986478Z'
            view_url: https://next.frame.io/project/d5e6011c-2bc9-4596-be05-77d562627112/view/5a89a9fb-0900-4b23-826b-127b90e4db4c
          id: 477b4abc-b34e-41dc-81b3-61ef3e6f4a0e
          name: asset.png
          parent_id: c9c99632-6f5f-4e60-a323-c93e4c2a0f4f
          project_id: 3ffaf0ca-e6d8-4f1e-ac9d-3c064d371085
          type: version_stack
          updated_at: '2024-02-07T16:44:41.986478Z'
          view_url: https://next.frame.io/project/d5e6011c-2bc9-4596-be05-77d562627112/view/5a89a9fb-0900-4b23-826b-127b90e4db4c
      properties:
        data:
          $ref: '#/components/schemas/VersionStack'
      required:
      - data
      title: VersionStackResponse
      type: object
    AssetCommonWithIncludes:
      example:
        adobe_id: urn:aaid:sc:US:a1b2c3d4-e5f6-7890-abcd-ef1234567890
        created_at: '2023-09-25T19:18:29.614189Z'
        creator:
          active: true
          avatar_url: https://assets.frame.io/uploads/cd58cb8e-24b3-4448-8d0f-9532fcd04d11/original.png?response-content-disposition=attachment%3B+filename%3D%22foo.png&Expires=1729857600&Signature=L09h0pi82dCrMYjr9lMHBragByWYh1&Key-Pair-Id=KKI497NESTHMN
          email: user_email@example.com
          id: 196C1A5666BF4EB00A49411B@176719f5667c82b4494214.e
          name: Jon Doe
        id: 477b4abc-b34e-41dc-81b3-61ef3e6f4a0e
        metadata:
        - field_definition_id: 520662f7-6b13-4bad-bd72-0b6be0088e71
          field_definition_name: Fields definition name
          field_options:
          - display_name: Display name
            id: db37fc0c-56d2-42f5-97ce-7926ffe224ef
          - display_name: Display name 2
            id: e5530483-30c0-4589-8313-6d3634c15e43
          field_type: select
          mutable: true
          value:
          - display_name: Display name
            id: db37fc0c-56d2-42f5-97ce-7926ffe224ef
        name: asset.png
        parent_id: c9c99632-6f5f-4e60-a323-c93e4c2a0f4f
        project:
          adobe_id: urn:aaid:sc:US:9f4e4d7a-4b6b-4c4f-9f00-b31a91cfc6f3
          created_at: '2024-01-25T19:18:29.614189Z'
          description: Project Description
          id: 18d9023a-6b06-4417-b3f4-bf87865c183f
          name: My Project
          owner:
            active: true
            avatar_url: https://assets.frame.io/uploads/cd58cb8e-24b3-4448-8d0f-9532fcd04d11/original.png?response-content-disposition=attachment%3B+filename%3D%22foo.png&Expires=1729857600&Signature=L09h0pi82dCrMYjr9lMHBragByWYh1&Key-Pair-Id=KKI497NESTHMN
            email: user_email@example.com
            id: 196C1A5666BF4EB00A49411B@176719f5667c82b4494214.e
            name: Jon Doe
          restricted: false
          root_folder_id: 69110a93-de02-4e87-be46-28fa89c577a1
          status: active
          storage: 15000
          updated_at: '2024-02-07T16:44:41.986478Z'
          view_url: https://next.frame.io/project/d5e6011c-2bc9-4596-be05-77d562627112/
          workspace_id: a4759365-dc55-4c1d-8369-ea8244b76ae6
        project_id: 3ffaf0ca-e6d8-4f1e-ac9d-3c064d371085
        type: file
        updated_at: '2024-02-07T16:44:41.986478Z'
        view_url: https://next.frame.io/project/d5e6011c-2bc9-4596-be05-77d562627112/view/5a89a9fb-0900-4b23-826b-127b90e4db4c
      properties:
        adobe_id:
          description: Adobe cloud storage asset identifier, when available.
          nullable: true
          type: string
        created_at:
          description: Creation timestamp
          format: date-time
          type: string
        creator:
          $ref: '#/components/schemas/User'
        id:
          description: File, Folder, or Version Stack ID
          format: uuid
          type: string
        metadata:
          description: File attributes
          items:
            $ref: '#/components/schemas/MetadataField'
          type: array
        name:
          description: File or Folder Name
          type: string
        parent_id:
          description: Parent Folder or Version Stack ID
          format: uuid
          nullable: true
          type: string
        project:
          $ref: '#/components/schemas/ProjectWithIncludes'
        project_id:
          description: Project ID
          format: uuid
          type: string
        type:
          enum:
          - file
          - folder
          - version_stack
          type: string
        updated_at:
          description: Update timestamp
          format: date-time
          type: string
        view_url:
          description: URL to view the asset in the Frame.io web application
          type: string
      required:
      - id
      - name
      - type
      - project_id
      - parent_id
      - created_at
      - updated_at
      - view_url
      title: AssetCommonWithIncludes
      type: object
    VersionStackCopyResponse:
      example:
        data:
          adobe_id: urn:aaid:sc:US:a1b2c3d4-e5f6-7890-abcd-ef1234567890
          created_at: '2023-09-25T19:18:29.614189Z'
          head_version:
            adobe_id: urn:aaid:sc:US:a1b2c3d4-e5f6-7890-abcd-ef1234567890
            adobe_version_id: '2'
            created_at: '2023-09-25T19:18:29.614189Z'
            file_size: 1137444
            id: 477b4abc-b34e-41dc-81b3-61ef3e6f4a0e
            media_type: image/png
            name: asset.png
            parent_id: c9c99632-6f5f-4e60-a323-c93e4c2a0f4f
            project_id: 3ffaf0ca-e6d8-4f1e-ac9d-3c064d371085
            status: created
            type: file
            updated_at: '2024-02-07T16:44:41.986478Z'
            view_url: https://next.frame.io/project/d5e6011c-2bc9-4596-be05-77d562627112/view/5a89a9fb-0900-4b23-826b-127b90e4db4c
          id: 477b4abc-b34e-41dc-81b3-61ef3e6f4a0e
          name: asset (1).png
          parent_id: 2e426fe0-f965-4594-8b2b-b4dff1dc00ec
          project_id: 3ffaf0ca-e6d8-4f1e-ac9d-3c064d371085
          type: version_stack
          updated_at: '2024-02-07T16:44:41.986478Z'
          view_url: https://next.frame.io/project/d5e6011c-2bc9-4596-be05-77d562627112/view/5a89a9fb-0900-4b23-826b-127b90e4db4c
      properties:
        data:
          $ref: '#/components/schemas/VersionStack'
      required:
      - data
      title: VersionStackCopyResponse
      type: object
    MultiUserValue:
      allOf:
      - $ref: '#/components/schemas/FieldValueCommon'
      - properties:
          custom_members:
            description: Populated with custom member options only if `member_options_type` is set to 'custom'.
            items:
              $ref: '#/components/schemas/UserValue'
            type: array
          member_options_type:
            enum:
            - custom
            - all_project_members
            type: string
          value:
            items:
              $ref: '#/components/schemas/UserValue'
            type: array
        type: object
      example:
        custom_members: []
        field_definition_id: 520662f7-6b13-4bad-bd72-0b6be0088e71
        field_definition_name: Fields definition name
        field_type: user_multi
        member_options_type: all_project_members
        mutable: true
        value:
        - id: 43033894-3018-4670-9692-d908b691a0e4
          type: user
        - id: ff69e361-ce99-41b9-940f-20f5f9951c94
          type: user
      required:
      - value
      title: MultiUserValue
      type: object
    SelectValue:
      allOf:
      - $ref: '#/components/schemas/FieldValueCommon'
      - properties:
          field_options:
            items:
              $ref: '#/components/schemas/SelectOption'
            type: array
          value:
            items:
              $ref: '#/components/schemas/SelectOption'
            maxItems: 1
            minItems: 0
            type: array
        type: object
      example:
        field_definition_id: 520662f7-6b13-4bad-bd72-0b6be0088e71
        field_definition_name: Fields definition name
        field_options:
        - display_name: Display name
          id: db37fc0c-56d2-42f5-97ce-7926ffe224ef
        - display_name: Display name 2
          id: e5530483-30c0-4589-8313-6d3634c15e43
        field_type: select
        mutable: true
        value:
        - display_name: Display name
          id: db37fc0c-56d2-42f5-97ce-7926ffe224ef
      required:
      - value
      title: SelectValue
      type: object
    AssetWithIncludes:
      discriminator:
        mapping:
          file: '#/components/schemas/FileWithIncludes'
          folder: '#/components/schemas/FolderWithIncludes'
          version_stack: '#/components/schemas/VersionStackWithIncludes'
        propertyName: type
      example:
        adobe_id: urn:aaid:sc:US:a1b2c3d4-e5f6-7890-abcd-ef1234567890
        adobe_version_id: '2'
        created_at: '2023-09-25T19:18:29.614189Z'
        creator:
          active: true
          avatar_url: https://assets.frame.io/uploads/cd58cb8e-24b3-4448-8d0f-9532fcd04d11/original.png?response-content-disposition=attachment%3B+filename%3D%22foo.png&Expires=1729857600&Signature=L09h0pi82dCrMYjr9lMHBragByWYh1&Key-Pair-Id=KKI497NESTHMN
          email: user_email@example.com
          id: 196C1A5666BF4EB00A49411B@176719f5667c82b4494214.e
          name: Jon Doe
        file_size: 1137444
        id: 477b4abc-b34e-41dc-81b3-61ef3e6f4a0e
        media_links:
          high_quality:
            download_url: https://assets.frame.io/uploads/cd58cb8e-24b3-4448-8d0f-9532fcd04d11/original.png?response-content-disposition=attachment%3B+filename%3D%22foo.png&Expires=1729857600&Signature=L09h0pi82dCrMYjr9lMHBragByWYh1&Key-Pair-Id=KKI497NESTHMN
          original:
            download_url: https://assets.frame.io/uploads/cd58cb8e-24b3-4448-8d0f-9532fcd04d11/original.png?response-content-disposition=attachment%3B+filename%3D%22foo.png&Expires=1729857600&Signature=L09h0pi82dCrMYjr9lMHBragByWYh1&Key-Pair-Id=KKI497NESTHMN
            inline_url: https://assets.frame.io/uploads/cd58cb8e-24b3-4448-8d0f-9532fcd04d11/original.png?response-content-disposition=inline%3B+filename%3D%22foo.png&Expires=1729857600&Signature=L09h0pi82dCrMYjr9lMHBragSDFXDFh&1Key-Pair-Id=KKI497NESTHMN
          thumbnail:
            download_url: https://assets.frame.io/uploads/cd58cb8e-24b3-4448-8d0f-9532fcd04d11/original.png?response-content-disposition=attachment%3B+filename%3D%22foo.png&Expires=1729857600&Signature=L09h0pi82dCrMYjr9lMHBragByWYh1&Key-Pair-Id=KKI497NESTHMN
            url: https://picture2.frame.io/image/s3://frameio-assets-development/image/cd58cb8e-24b3-4498-8d0f-9532fcd04d11/image_full.png?alg=HS256&sig=0_u7w_wz2MwQHOXp000ibbQSMRijujyaUu8V3YYPxu4&exp=1729857600
        media_type: image/png
        metadata:
        - field_definition_id: 520662f7-6b13-4bad-bd72-0b6be0088e71
          field_definition_name: Fields definition name
          field_options:
          - display_name: Display name
            id: db37fc0c-56d2-42f5-97ce-7926ffe224ef
          - display_name: Display name 2
            id: e5530483-30c0-4589-8313-6d3634c15e43
          field_type: select
          mutable: true
          value:
          - display_name: Display name
            id: db37fc0c-56d2-42f5-97ce-7926ffe224ef
        name: asset.png
        parent_id: c9c99632-6f5f-4e60-a323-c93e4c2a0f4f
        project:
          adobe_id: urn:aaid:sc:US:9f4e4d7a-4b6b-4c4f-9f00-b31a91cfc6f3
          created_at: '2024-01-25T19:18:29.614189Z'
          description: Project Description
          id: 18d9023a-6b06-4417-b3f4-bf87865c183f
          name: My Project
          owner:
            active: true
            avatar_url: https://assets.frame.io/uploads/cd58cb8e-24b3-4448-8d0f-9532fcd04d11/original.png?response-content-disposition=attachment%3B+filename%3D%22foo.png&Expires=1729857600&Signature=L09h0pi82dCrMYjr9lMHBragByWYh1&Key-Pair-Id=KKI497NESTHMN
            email: user_email@example.com
            id: 196C1A5666BF4EB00A49411B@176719f5667c82b4494214.e
            name: Jon Doe
          restricted: false
          root_folder_id: 69110a93-de02-4e87-be46-28fa89c577a1
          status: active
          storage: 15000
          updated_at: '2024-02-07T16:44:41.986478Z'
          view_url: https://next.frame.io/project/d5e6011c-2bc9-4596-be05-77d562627112/
          workspace_id: a4759365-dc55-4c1d-8369-ea8244b76ae6
        project_id: 3ffaf0ca-e6d8-4f1e-ac9d-3c064d371085
        status: created
        type: file
        updated_at: '2024-02-07T16:44:41.986478Z'
        view_url: https://next.frame.io/project/d5e6011c-2bc9-4596-be05-77d562627112/view/5a89a9fb-0900-4b23-826b-127b90e4db4c
      oneOf:
      - $ref: '#/components/schemas/FileWithIncludes'
      - $ref: '#/components/schemas/FolderWithIncludes'
      - $ref: '#/components/schemas/VersionStackWithIncludes'
      title: AssetWithIncludes
      type: object
    MetadataField:
      discriminator:
        mapping:
          date: '#/components/schemas/DateValue'
          long_text: '#/components/schemas/TextValue'
          number: '#/components/schemas/NumberValue'
          rating: '#/components/schemas/IntegerValue'
          select: '#/components/schemas/SelectValue'
          select_multi: '#/components/schemas/MultiSelectValue'
          text: '#/components/schemas/TextValue'
          toggle: '#/components/schemas/BooleanValue'
          user_multi: '#/components/schemas/MultiUserValue'
          user_single: '#/components/schemas/SingleUserValue'
          users: '#/components/schemas/MultiUserValue'
        propertyName: field_type
      example:
        field_definition_id: 520662f7-6b13-4bad-bd72-0b6be0088e71
        field_definition_name: Fields definition name
        field_options:
        - display_name: Display name
          id: db37fc0c-56d2-42f5-97ce-7926ffe224ef
        - display_name: Display name 2
          id: e5530483-30c0-4589-8313-6d3634c15e43
        field_type: select
        mutable: true
        value:
        - display_name: Display name
          id: db37fc0c-56d2-42f5-97ce-7926ffe224ef
      oneOf:
      - $ref: '#/components/schemas/TextValue'
      - $ref: '#/components/schemas/IntegerValue'
      - $ref: '#/components/schemas/NumberValue'
      - $ref: '#/components/schemas/BooleanValue'
      - $ref: '#/components/schemas/DateValue'
      - $ref: '#/components/schemas/MultiSelectValue'
      - $ref: '#/components/schemas/SelectValue'
      - $ref: '#/components/schemas/SingleUserValue'
      - $ref: '#/components/schemas/MultiUserValue'
      title: MetadataField
      type: object
    IncludeTotalCount:
      default: false
      description: Page query param to include the count of all entities
      example: false
      title: IncludeTotalCount
      type: boolean
    VersionStackWithIncludesResponse:
      example:
        data:
          adobe_id: urn:aaid:sc:US:a1b2c3d4-e5f6-7890-abcd-ef1234567890
          created_at: '2023-09-25T19:18:29.614189Z'
          creator:
            active: true
            avatar_url: https://assets.frame.io/uploads/cd58cb8e-24b3-4448-8d0f-9532fcd04d11/original.png?response-content-disposition=attachment%3B+filename%3D%22foo.png&Expires=1729857600&Signature=L09h0pi82dCrMYjr9lMHBragByWYh1&Key-Pair-Id=KKI497NESTHMN
            email: user_email@example.com
            id: 196C1A5666BF4EB00A49411B@176719f5667c82b4494214.e
            name: Jon Doe
          head_version:
            adobe_id: urn:aaid:sc:US:a1b2c3d4-e5f6-7890-abcd-ef1234567890
            adobe_version_id: '2'
            created_at: '2023-09-25T19:18:29.614189Z'
            creator:
              active: true
              avatar_url: https://assets.frame.io/uploads/cd58cb8e-24b3-4448-8d0f-9532fcd04d11/original.png?response-content-disposition=attachment%3B+filename%3D%22foo.png&Expires=1729857600&Signature=L09h0pi82dCrMYjr9lMHBragByWYh1&Key-Pair-Id=KKI497NESTHMN
              email: user_email@example.com
              id: 196C1A5666BF4EB00A49411B@176719f5667c82b4494214.e
              name: Jon Doe
            file_size: 1137444
            id: 477b4abc-b34e-41dc-81b3-61ef3e6f4a0e
            media_links:
              high_quality:
                download_url: https://assets.frame.io/uploads/cd58cb8e-24b3-4448-8d0f-9532fcd04d11/original.png?response-content-disposition=attachment%3B+filename%3D%22foo.png&Expires=1729857600&Signature=L09h0pi82dCrMYjr9lMHBragByWYh1&Key-Pair-Id=KKI497NESTHMN
              original:
                download_url: https://assets.frame.io/uploads/cd58cb8e-24b3-4448-8d0f-9532fcd04d11/original.png?response-content-disposition=attachment%3B+filename%3D%22foo.png&Expires=1729857600&Signature=L09h0pi82dCrMYjr9lMHBragByWYh1&Key-Pair-Id=KKI497NESTHMN
                inline_url: https://assets.frame.io/uploads/cd58cb8e-24b3-4448-8d0f-9532fcd04d11/original.png?response-content-disposition=inline%3B+filename%3D%22foo.png&Expires=1729857600&Signature=L09h0pi82dCrMYjr9lMHBragSDFXDFh&1Key-Pair-Id=KKI497NESTHMN
              thumbnail:
                download_url: https://assets.frame.io/uploads/cd58cb8e-24b3-4448-8d0f-9532fcd04d11/original.png?response-content-disposition=attachment%3B+filename%3D%22foo.png&Expires=1729857600&Signature=L09h0pi82dCrMYjr9lMHBragByWYh1&Key-Pair-Id=KKI497NESTHMN
                url: https://picture2.frame.io/image/s3://frameio-assets-development/image/cd58cb8e-24b3-4498-8d0f-9532fcd04d11/image_full.png?alg=HS256&sig=0_u7w_wz2MwQHOXp000ibbQSMRijujyaUu8V3YYPxu4&exp=1729857600
            media_type: image/png
            metadata:
            - field_definition_id: 520662f7-6b13-4bad-bd72-0b6be0088e71
              field_definition_name: Fields definition name
              field_options:
              - display_name: Display name
                id: db37fc0c-56d2-42f5-97ce-7926ffe224ef
              - display_name: Display name 2
                id: e5530483-30c0-4589-8313-6d3634c15e43
              field_type: select
              mutable: true
              value:
              - display_name: Display name
                id: db37fc0c-56d2-42f5-97ce-7926ffe224ef
            name: asset.png
            parent_id: c9c99632-6f5f-4e60-a323-c93e4c2a0f4f
            project:
              adobe_id: urn:aaid:sc:US:9f4e4d7a-4b6b-4c4f-9f00-b31a91cfc6f3
              created_at: '2024-01-25T19:18:29.614189Z'
              description: Project Description
              id: 18d9023a-6b06-4417-b3f4-bf87865c183f
              name: My Project
              owner:
                active: true
                avatar_url: https://assets.frame.io/uploads/cd58cb8e-24b3-4448-8d0f-9532fcd04d11/original.png?response-content-disposition=attachment%3B+filename%3D%22foo.png&Expires=1729857600&Signature=L09h0pi82dCrMYjr9lMHBragByWYh1&Key-Pair-Id=KKI497NESTHMN
                email: user_email@example.com
                id: 196C1A5666BF4EB00A49411B@176719f5667c82b4494214.e
                name: Jon Doe
              restricted: false
              root_folder_id: 69110a93-de02-4e87-be46-28fa89c577a1
              status: active
              storage: 15000
              updated_at: '2024-02-07T16:44:41.986478Z'
              view_url: https://next.frame.io/project/d5e6011c-2bc9-4596-be05-77d562627112/
              workspace_id: a4759365-dc55-4c1d-8369-ea8244b76ae6
            project_id: 3ffaf0ca-e6d8-4f1e-ac9d-3c064d371085
            status: created
            type: file
            updated_at: '2024-02-07T16:44:41.986478Z'
            view_url: https://next.frame.io/project/d5e6011c-2bc9-4596-be05-77d562627112/view/5a89a9fb-0900-4b23-826b-127b90e4db4c
          id: 477b4abc-b34e-41dc-81b3-61ef3e6f4a0e
          metadata:
          - field_definition_id: 520662f7-6b13-4bad-bd72-0b6be0088e71
            field_definition_name: Fields definition name
            field_options:
            - display_name: Display name
              id: db37fc0c-56d2-42f5-97ce-7926ffe224ef
            - display_name: Display name 2
              id: e5530483-30c0-4589-8313-6d3634c15e43
            field_type: select
            mutable: true
            value:
            - display_name: Display name
              id: db37fc0c-56d2-42f5-97ce-7926ffe224ef
          name: asset.png
          parent_id: c9c99632-6f5f-4e60-a323-c93e4c2a0f4f
          project:
            adobe_id: urn:aaid:sc:US:9f4e4d7a-4b6b-4c4f-9f00-b31a91cfc6f3
            created_at: '2024-01-25T19:18:29.614189Z'
            description: Project Description
            id: 18d9023a-6b06-4417-b3f4-bf87865c183f
            name: My Project
            owner:
              active: true
              avatar_url: https://assets.frame.io/uploads/cd58cb8e-24b3-4448-8d0f-9532fcd04d11/original.png?response-content-disposition=attachment%3B+filename%3D%22foo.png&Expires=1729857600&Signature=L09h0pi82dCrMYjr9lMHBragByWYh1&Key-Pair-Id=KKI497NESTHMN
              email: user_email@example.com
              id: 196C1A5666BF4EB00A49411B@176719f5667c82b4494214.e
              name: Jon Doe
            restricted: false
            root_folder_id: 69110a93-de02-4e87-be46-28fa89c577a1
            status: active
            storage: 15000
            updated_at: '2024-02-07T16:44:41.986478Z'
            view_url: https://next.frame.io/project/d5e6011c-2bc9-4596-be05-77d562627112/
            workspace_id: a4759365-dc55-4c1d-8369-ea8244b76ae6
          project_id: 3ffaf0ca-e6d8-4f1e-ac9d-3c064d371085
          type: file
          updated_at: '2024-02-07T16:44:41.986478Z'
          view_url: https://next.frame.io/project/d5e6011c-2bc9-4596-be05-77d562627112/view/5a89a9fb-0900-4b23-826b-127b90e4db4c
      properties:
        data:
          $ref: '#/components/schemas/VersionStackWithIncludes'
      required:
      - data
      title: VersionStackWithIncludesResponse
      type: object
    Project:
      description: Frame.io Project
      example:
        adobe_id: urn:aaid:sc:US:9f4e4d7a-4b6b-4c4f-9f00-b31a91cfc6f3
        created_at: '2024-01-25T19:18:29.614189Z'
        id: 18d9023a-6b06-4417-b3f4-bf87865c183f
        name: My Project
        restricted: false
        root_folder_id: 69110a93-de02-4e87-be46-28fa89c577a1
        status: active
        storage: 15000
        updated_at: '2024-02-07T16:44:41.986478Z'
        view_url: https://next.frame.io/project/d5e6011c-2bc9-4596-be05-77d562627112/
        workspace_id: a4759365-dc55-4c1d-8369-ea8244b76ae6
      properties:
        adobe_id:
          description: Adobe cloud storage directory ID associated with the project, when available.
          nullable: true
          type: string
        created_at:
          description: Created Timestamp
          format: date-time
          type: string
        id:
          description: Project ID
          format: uuid
          type: string
        name:
          description: Project Name
          type: string
        restricted:
          description: Whether the project is restricted or not
          type: boolean
        root_folder_id:
          description: Root Folder ID
          format: uuid
          type: string
        status:
          description: Project Status
          enum:
          - active
          - inactive
          type: string
        storage:
          default: 0
          description: Storage Usage
          type: integer
        updated_at:
          description: Updated Timestamp
          format: date-time
          type: string
        view_url:
          description: URL to view the project in the Frame.io web application
          type: string
        workspace_id:
          description: Workspace ID
          format: uuid
          type: string
      required:
      - id
      - name
      - status
      - storage
      - workspace_id
      - root_folder_id
      - created_at
      - updated_at
      - view_url
      title: Project
      type: object
    TooManyRequests:
      example:
        errors:
        - detail: Too many requests
      properties:
        errors:
          items:
            additionalProperties: false
            properties:
              detail:
                type: string
              source:
                properties:
                  pointer:
                    type: string
                type: object
              title:
                type: string
            required:
            - detail
            type: object
          type: array
      required:
      - errors
      title: TooManyRequests
      type: object
    VersionStacksWithIncludesResponse:
      example:
        data:
        - adobe_id: urn:aaid:sc:US:a1b2c3d4-e5f6-7890-abcd-ef1234567890
          created_at: '2023-09-25T19:18:29.614189Z'
          creator:
            active: true
            avatar_url: https://assets.frame.io/uploads/cd58cb8e-24b3-4448-8d0f-9532fcd04d11/original.png?response-content-disposition=attachment%3B+filename%3D%22foo.png&Expires=1729857600&Signature=L09h0pi82dCrMYjr9lMHBragByWYh1&Key-Pair-Id=KKI497NESTHMN
            email: user_email@example.com
            id: 196C1A5666BF4EB00A49411B@176719f5667c82b4494214.e
            name: Jon Doe
          head_version:
            adobe_id: urn:aaid:sc:US:a1b2c3d4-e5f6-7890-abcd-ef1234567890
            adobe_version_id: '2'
            created_at: '2023-09-25T19:18:29.614189Z'
            creator:
              active: true
              avatar_url: https://assets.frame.io/uploads/cd58cb8e-24b3-4448-8d0f-9532fcd04d11/original.png?response-content-disposition=attachment%3B+filename%3D%22foo.png&Expires=1729857600&Signature=L09h0pi82dCrMYjr9lMHBragByWYh1&Key-Pair-Id=KKI497NESTHMN
              email: user_email@example.com
              id: 196C1A5666BF4EB00A49411B@176719f5667c82b4494214.e
              name: Jon Doe
            file_size: 1137444
            id: 477b4abc-b34e-41dc-81b3-61ef3e6f4a0e
            media_links:
              high_quality:
[...]
